# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native & Generated Folders
ios/
android/
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment & Secrets (CRITICAL)
.env
.env*.local

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.pem

# Development
*.tsbuildinfo
coverage/